.Button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    color: white;
    width: auto;
    border: none;
    background-color: #5077e4;
}

.Button:hover,
.Button:active {
    background-color: #2351cf;
}

.Button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}
